html {
  font-size: 10px;
}

body {
  margin: 0;
}

p,
li,
input,
img,
h1 {
  /* 13pt coverted to px = 17.3px */
  font-size: 1.7rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #565c60;
}

li {
  /* 28pt coverted to px = 37.3 px */
  font-size: 3.7rem;
  color: #f99d27;
}

label,
button,
option {
  /* 13pt coverted to px = 17.3px */
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  display: block;
  color: #565c60;
}

h1 {
  /* 64pt coverted to px = 85.3px */
  font-size: 8.5rem;
  font-weight: 400;
}

nav {
  padding: 2rem 0;
  border-bottom: 2px solid #f99d27;
  margin: 0;
}

nav img {
  padding-left: 14rem;
}

.header-img {
  position: relative;
  margin: 6rem;
}

.header-img img {
  width: 100%;
}

.header-img h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  margin: 0;
}

form {
  padding: 0 14rem 4rem 14rem;
}

form datalist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form datalist option {
  padding-left: 7px;
}

form #range-option-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

form #range-option-value p {
  padding-bottom: 6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

form #range-option-value p:nth-of-type(1) {
  margin-left: -0.5rem;
}

form #range-option-value p:nth-of-type(2) {
  margin-right: -1rem;
}

form button {
  padding: 1.6rem 4rem;
  border: none;
  background: #f99d27;
  display: block;
  margin: 0 auto;
  color: white;
}

form li {
  padding-bottom: 3rem;
  padding-top: 6rem;
}

form li:nth-of-type(1) {
  padding-top: 0rem;
}

form label {
  padding-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Overriding default checkbox styling to match PSD*/
}

form label input[type="checkbox"] {
  -webkit-appearance: none;
  border: 1px solid #565c60;
  padding: 9px;
  margin-right: 1rem;
  display: inline-block;
  position: relative;
}

form label input[type="checkbox"]:active,
form label input[type="checkbox"] :checked:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

form label input[type="checkbox"]:checked {
  border: 1px solid #565c60;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

form label input[type="checkbox"]:checked:after {
  content: "\2713";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 4px;
  color: #565c60;
}

form label #myinput {
  background: -webkit-gradient(linear, left top, right top, from(#f99d27), color-stop(50%, #f99d27), color-stop(50%, #c1b9b1), to(#c1b9b1));
  background: linear-gradient(to right, #f99d27 0%, #f99d27 50%, #c1b9b1 50%, #c1b9b1 100%);
  border-radius: 8px;
  height: 11px;
  width: 100%;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

form label #myinput::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #565c60;
  border: 0;
  z-index: 10 !important;
}

form #text-input {
  height: 6rem;
  width: 100%;
  border-radius: 5px;
  border: solid 1px #565c60;
}

footer {
  background-color: #565c60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 14rem;
  padding-top: 6rem;
  padding-bottom: 12.6rem;
  padding: 6rem 14rem 12.6rem 14rem;
}

footer p {
  color: #ffffff;
  width: 100%;
  text-align: left;
}

footer img {
  height: 100%;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
  footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 570px) {
  .header-img {
    margin: 2rem;
  }
  nav img {
    padding-left: 2rem;
  }
  h1 {
    font-size: 3rem;
  }
  form {
    padding: 0 2rem 2rem 2rem;
  }
}
/*# sourceMappingURL=styling.css.map */